* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  padding: 15px;
  text-align: center;
}
.fila {
  margin-bottom: 20px;
}

.box {
  position: relative;
  display: inline-block;
  cursor: pointer;

}

.box:hover .hearts{
  display: block;
}

.box .discount  {
  position: absolute;
  top: 0;
  right: 0;
  background-color: lightgreen;
  padding: 2px;
}

.box:nth-child(even) .discount{
  background-color: #F9564F;
}

.box .hearts{
  position: absolute;
  text-align: center;
  width: 100%;
  bottom: 10px;
  color: #F9564F;
  display: none;
}
