* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  padding: 15px;
}
.fila {
  margin-bottom: 10px;
}

.box {
  position: relative;
  display: inline-block;
}
.box .discount  {
  position: absolute;
  top: 0;
  right: 0;
  background-color: lightgreen;
  padding: 2px;
}

.box:nth-child(2n) .discount{
  background-color: #F9564F;
}
